#SettingsTabs Label {
    color: rgb(215, 184, 24);
    font-size: 30px;
}

#SettingsTabs Button:hover {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    transition-duration: 0.2s;
    scale: 1.2 1.2 1.2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

#SettingsTabs Button:active {
    transition-duration: 0.1s;
    scale: 0.95 0.95;
}

#SettingsTabs Button:disabled {
    transition-duration: 0.2s;
    scale: 1.2 1.2 1.2;
    -unity-background-image-tint-color: rgb(255, 228, 0);
    text-shadow: 5px 0 0 rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.audioSlider {
    width: 70%;
    -unity-font: url("project://database/Assets/TextMesh%20Pro/Fonts/Nulshock%20Bd.otf?fileID=12800000&guid=12768c2c754fbf248846c9b6df869991&type=3#Nulshock Bd");
    flex-direction: column;
    height: 100%;
    align-items: stretch;
    display: flex;
    flex-grow: 0;
    margin-left: 5%;
    margin-right: 5%;
}

#Audio SliderInt #unity-text-field {
    width: 10%;
    margin-left: 5%;
    height: 100%;
    background-image: url("project://database/Assets/05_Sprites/RetroButtonHD_Small.asset?fileID=21300000&guid=f9d96006161767348b95432eef0bdd88&type=2#RetroButtonHD_Small");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-slice-scale: 0.5px;
}

#Audio SliderInt #unity-text-input {
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    -unity-font-definition: url("project://database/Assets/08_UI%20Toolkit/Font/Emulogic-zrEw.ttf?fileID=12800000&guid=3e5d93a06c3e9bd4db5025f0b5391d22&type=3#Emulogic-zrEw");
    -unity-text-align: upper-center;
    font-size: 22px;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-right: 0%;
    padding-left: 0%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#Audio SliderInt #unity-drag-container {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    align-self: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#Audio SliderInt #unity-tracker {
    background-color: rgb(0, 2, 29);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    height: 100%;
    align-self: center;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#Audio SliderInt #unity-fill {
    background-color: rgb(255, 221, 0);
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#Audio SliderInt #unity-dragger {
    display: none;
}

.inputPopupText {
    align-self: center;
    align-items: center;
    font-size: 40px;
    color: rgb(183, 183, 183);
    -unity-font: url("project://database/Assets/TextMesh%20Pro/Fonts/Nulshock%20Bd.otf?fileID=12800000&guid=12768c2c754fbf248846c9b6df869991&type=3#Nulshock Bd");
    -unity-font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    -unity-font-definition: initial;
}

.inputText {
    -unity-text-align: middle-left;
    width: 25%;
    flex-grow: 0;
}

.inputGroup {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    align-self: auto;
    align-items: center;
}

.inputButton {
    margin-bottom: 2.5%;
    transition-duration: 0.15s;
    -unity-font-definition: url("project://database/Assets/08_UI%20Toolkit/Font/Emulogic-zrEw.ttf?fileID=12800000&guid=3e5d93a06c3e9bd4db5025f0b5391d22&type=3#Emulogic-zrEw");
    color: rgb(63, 63, 63);
    -unity-font-style: bold;
    font-size: 25px;
    background-image: url("project://database/Assets/05_Sprites/RetroButtonHD.png?fileID=21300000&guid=16badd43ec4118046b2926eb6fa5e092&type=3#RetroButtonHD");
    margin-top: 2.5%;
    -unity-text-align: middle-center;
    background-color: rgba(0, 0, 0, 0);
    height: 75%;
    text-shadow: 0 -5px 0 rgb(255, 255, 255);
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.78);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    width: 30%;
    scale: 0.95 0.95 0.95;
    margin-right: 0%;
}

.inputButton:hover {
    transition-duration: 0.2s;
    scale: 1.2 1.2 1.2;
    -unity-background-image-tint-color: rgb(255, 228, 0);
    text-shadow: 5px 0 0 rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.inputButton:active {
    transition-duration: 0.1s;
    scale: 0.95 0.95;
    -unity-background-image-tint-color: rgb(255, 200, 0);
}



TabView #unity-tab-view__content-container {
    flex-grow: 1;
    width: 100%;
    opacity: 1;
    align-items: center;
    height: 100%;
}

TabView #unity-tab__content-container {
    -unity-font-definition: url("project://database/Assets/08_UI%20Toolkit/Font/Emulogic-zrEw.ttf?fileID=12800000&guid=3e5d93a06c3e9bd4db5025f0b5391d22&type=3#Emulogic-zrEw");
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

TabView .unity-toggle-button-group {
    justify-content: space-evenly;
    align-items: center;
    align-self: stretch;
    align-content: center;
    flex-grow: 1;
    width: 100%;
    overflow: visible;
}

TabView .unity-toggle-button-group Label {
    width: 30%;
    font-size: 35px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    white-space: normal;
    -unity-text-align: middle-left;
    text-overflow: clip;
}

TabView .unity-toggle-button-group .unity-button-group {
    justify-content: center;
    align-self: stretch;
    align-items: center;
    flex-direction: row;
    align-content: auto;
    width: 70%;
    overflow: visible;
}

#Game ToggleButtonGroup Button {
    background-color: rgba(0, 0, 0, 0);
    margin-right: 2.5%;
    margin-left: 2.5%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    transition-duration: 0.2s;
    width: 30%;
    height: 45%;
}

#Game #unity-toggle-button-group__container {
    justify-content: center;
    flex-direction: row;
}

TabView #unity-tab__header-label {
    margin-bottom: 0%;
    transition-duration: 0.15s;
    -unity-font-definition: url("project://database/Assets/08_UI%20Toolkit/Font/Emulogic-zrEw.ttf?fileID=12800000&guid=3e5d93a06c3e9bd4db5025f0b5391d22&type=3#Emulogic-zrEw");
    color: rgb(63, 63, 63);
    -unity-font-style: bold;
    font-size: 30px;
    background-image: url("project://database/Assets/05_Sprites/RetroButtonHD.png?fileID=21300000&guid=16badd43ec4118046b2926eb6fa5e092&type=3#RetroButtonHD");
    margin-top: 0%;
    -unity-text-align: middle-center;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    text-shadow: 0 -5px 0 rgb(255, 255, 255);
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.78);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    margin-right: 2.5%;
    margin-left: 2.5%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    width: 100%;
}

TabView #unity-tab__header-label:hover {
    transition-duration: 0.2s;
    scale: 1.2 1.2 1.2;
    -unity-background-image-tint-color: rgb(255, 228, 0);
    text-shadow: 5px 0 0 rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

TabView RepeatButton {
    display: none;
    opacity: 0;
    visibility: hidden;
}

TabView .unity-tab-view__content-viewport {
    width: 75%;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    flex-grow: 0;
    height: 15%;
    opacity: 1;
    visibility: visible;
    display: flex;
    overflow: visible;
    margin-bottom: 2.5%;
}

TabView #unity-tab-view__header-container {
    width: 100%;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: 80%;
}

TabView #unity-tab__header {
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    margin-right: 10%;
    margin-left: 10%;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 30%;
}

TabView #unity-tab__header:checked Label {
    transition-duration: 0.2s;
    scale: 1.1 1.1 1.1;
    -unity-background-image-tint-color: rgb(255, 200, 0);
    text-shadow: 5px 0 0 rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

TabView #unity-tab__header-underline {
    opacity: 0;
}

.selectionButton {
    margin-bottom: 2.5%;
    transition-duration: 0.15s;
    -unity-font-definition: url("project://database/Assets/08_UI%20Toolkit/Font/Emulogic-zrEw.ttf?fileID=12800000&guid=3e5d93a06c3e9bd4db5025f0b5391d22&type=3#Emulogic-zrEw");
    color: rgb(63, 63, 63);
    -unity-font-style: bold;
    font-size: 25px;
    background-image: url("project://database/Assets/05_Sprites/RetroButtonHD.png?fileID=21300000&guid=16badd43ec4118046b2926eb6fa5e092&type=3#RetroButtonHD");
    margin-top: 2.5%;
    -unity-text-align: middle-center;
    background-color: rgba(0, 0, 0, 0);
    height: 50%;
    text-shadow: 0 -5px 0 rgb(255, 255, 255);
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.78);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    width: 25%;
    scale: 0.95 0.95 0.95;
}

.selectedButton {
    transition-duration: 0.15s;
    scale: 1.2 1.2 1.2;
    -unity-background-image-tint-color: rgb(255, 200, 0);
    text-shadow: 5px 0 0 rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 25%;
    height: 50%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    -unity-font-definition: url("project://database/Assets/08_UI%20Toolkit/Font/Emulogic-zrEw.ttf?fileID=12800000&guid=3e5d93a06c3e9bd4db5025f0b5391d22&type=3#Emulogic-zrEw");
    font-size: 25px;
    background-image: url("project://database/Assets/05_Sprites/RetroButtonHD.png?fileID=21300000&guid=16badd43ec4118046b2926eb6fa5e092&type=3#RetroButtonHD");
    background-color: rgba(0, 0, 0, 0);
}

.selectionButton:hover {
    transition-duration: 0.2s;
    scale: 1.2 1.2 1.2;
    -unity-background-image-tint-color: rgb(255, 228, 0);
    text-shadow: 5px 0 0 rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.selectionButton:active {
    transition-duration: 0.1s;
    scale: 0.95 0.95;
    -unity-background-image-tint-color: rgb(255, 200, 0);
}

.footerButton {
    margin-bottom: 0%;
    transition-duration: 0.15s;
    -unity-font-definition: url("project://database/Assets/08_UI%20Toolkit/Font/Emulogic-zrEw.ttf?fileID=12800000&guid=3e5d93a06c3e9bd4db5025f0b5391d22&type=3#Emulogic-zrEw");
    color: rgb(63, 63, 63);
    -unity-font-style: bold;
    font-size: 30px;
    background-image: url("project://database/Assets/05_Sprites/RetroButtonHD.png?fileID=21300000&guid=16badd43ec4118046b2926eb6fa5e092&type=3#RetroButtonHD");
    margin-top: 0%;
    -unity-text-align: middle-center;
    background-color: rgba(0, 0, 0, 0);
    height: 40%;
    text-shadow: 0 -5px 0 rgb(255, 255, 255);
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.78);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    margin-right: 2.5%;
    margin-left: 2.5%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    width: 20%;
}

.footerButton:hover {
    transition-duration: 0.2s;
    scale: 1.2 1.2 1.2;
    -unity-background-image-tint-color: rgb(255, 228, 0);
    text-shadow: 5px 0 0 rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.footerButton:active {
    transition-duration: 0.1s;
    scale: 0.95 0.95;
}
